.name {
    background-color: #34A7B9;
    width:15%;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
    padding-right:2px;
    padding-left:3px;
    font-family: 'Nunito', sans-serif;
}

.header{
    
    border-style: solid;
    border-color: #cccccc;
    padding-left: 20%;
    margin: 0%;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.footer {
    border-style: solid;
    padding-left:20%;
    display: flex;
  justify-content: center;
  padding-right: 12%;
  background-color: #666666;
  color:white;
  font-family: 'Nunito', sans-serif;

}

.footer > div {
    width: 100px;
    margin: 10px;
    margin-right: 10%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }

  .Project {
    font-family: 'Nunito', sans-serif;
    width: 10%;
    float: right;
}

.Home {
    font-family: 'Nunito', sans-serif;
    width: 10%;
    float: right;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
  }

  .row {
    content: "";
    display: table;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Nunito', sans-serif;

  }
  
  .main-section {
      background-color: white;
      width: 70%;
      margin-left: 13%;
      font-family: 'Nunito', sans-serif;
  }

  
