body {
    background-color:#ffffff;
    font-family: 'Nunito', sans-serif;
}
.container {
    margin-left:20%;
    border-style: solid;
    width:60%;
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.about-me {
    
    margin-left: 2%;
}

.hello {
    margin-left: 2%;
    color:#777777;
}

img {
    float:right;
}

.name {
    background-color: #34A7B9;
    width:15%;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
    padding-right:2px;
    padding-left:3px;
}

.header{
    
    border-style: solid;
    border-color: #cccccc;
    padding-left: 20%;
    margin: 0%;
    background-color: #ffffff;
}

.footer {
    border-style: solid;
    padding-left:20%;
    display: flex;
  justify-content: center;
  padding-right: 12%;
  background-color: #666666;
  color:white;

}

.footer > div {
    width: 100px;
    margin: 10px;
    margin-right: 10%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }
.link {
    position: relative;
    float: right;
}

.Project {
    
    width: 10%;
    float: right;
}

.Home {
    
    width: 10%;
    float: right;
}




