.footer {
    border-style: solid;
    padding-left:20%;
    display: flex;
  justify-content: center;
  padding-right: 12%;
  background-color: #666666;
  color:white;
  font-family: 'Nunito', sans-serif;

}

.footer > div {
    width: 100px;
    margin: 10px;
    margin-right: 10%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }

  .name {
    background-color: #34A7B9;
    width:15%;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
    padding-right:2px;
    padding-left:3px;
    font-family: 'Nunito', sans-serif;
}

.header{
    
    border-style: solid;
    border-color: #cccccc;
    padding-left: 20%;
    margin: 0%;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.Project {
    
    width: 10%;
    float: right;
    font-family: 'Nunito', sans-serif;
}

.Home {
    
    width: 10%;
    float: right;
    font-family: 'Nunito', sans-serif;
}

.container {
    font-family: 'Nunito', sans-serif;
    border-style: solid;
    width:30%;
    background-color: white;
    padding-left:5px;
    margin-left: 35%;
}

.person-name {
    border-style: solid;
    border-color: #cccccc;
    color: #cccccc;
    margin-right:5px;
}

.email {
    border-style: solid;
    border-color: #cccccc;
    color: #cccccc;
    margin-right:5px;
}

.message {
    border-style: solid;
    border-color: #cccccc;
    color: #cccccc;
    margin-right:5px;
}